.info-box {
  padding: 250px 0 100px;
}
.info-box .page-link {
  margin-bottom: 50px;
  text-align: center;
}
.info-box .page-link a:hover {
  border-bottom: 1px solid;
}
.info-box img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 50px;
}
.info-item {
  display: flex;
  padding-bottom: 50px;
}
.info-item__title {
  width: 50%;
  position: relative;
  left: 0;
  font-size: 22px;
  font-weight: 700;
}
.info-item__text {
  width: 50%;
  position: relative;
  right: 0;
  margin-left: 20px;
}
.text__title {
  font-weight: 600;
  font-size: 14px;
}
.text__sub {
  padding: 25px 0;
  font-size: 12px;
}
.text__sub p {
  padding: 5px 0;
}
