.about {
  padding: 90px 0;
}

.about-box {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.about-item {
  display: flex;
  flex-direction: column;
  gap: 52px;
  padding: 60px 40px 0;
}

.about-item__title,
.about-item__title--s {
  font-size: 60px;
  font-weight: 300;
  color: var(--gray);
}

.about-item__title--s {
  color: var(--black);
}

.about-item__content {
  display: flex;
  gap: 54px;
}

.about-item__content--img,
.about-item__content--text {
  width: 50%;
  display: flex;
}

.about-item__content--img img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-position: center center;
  object-fit: cover;
}

.about-item__content--text {
  font-size: 22px;
  text-align: justify;
}
