@font-face {
  font-family: "LOTTERIACHAB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OKGUNG";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKGUNG.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.main {
  background-image: url(../img/main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000;
  aspect-ratio: 1.5 / 1;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .text-area {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  font-family: "LOTTERIACHAB";
  /* font-family: "OKGUNG"; */
}

@media (max-width: 760px) {
  .main .text-area {
    font-size: 2em;
  }
}
