.footer {
  background-color: var(--blk);
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer__text {
  color: var(--wht);
  font-size: 18px;
}

.footer__info {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  display: flex;
}

.footer__link {
  display: flex;
  gap: 15px;
}

.footer__middle {
  background-image: url("../img/footer_bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 224px;
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__middle > .footer__text {
  color: var(--blk);
  font-size: 32px;
  text-transform: uppercase;
}
