.footer {
  position: relative;
  bottom: 0;
  padding: 40px;
  border-top: 1px solid #1c1c1c;
  border-bottom: 1px solid #1c1c1c;
  display: flex;
  justify-content: space-between;
}

.footer p {
  font-size: 18px;
}

.footer__logo {
  display: flex;
}

.footer__link {
  display: flex;
  gap: 15px;
}
