.header {
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 9;
}

.header .container {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  color: #0830a6;
}

.header__logo .logo {
  width: 50px;
}

.header__menu {
  display: flex;
  font-size: 20px;
}

.header__menu li {
  margin-left: 12px;
}
