:root {
  --shrink: 0; /* 0~1 값 */
}

.nav-wrap {
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 9;
  display: flex;
  justify-content: center;
}

.nav {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: calc(100% - (20% * var(--shrink)));
  padding: 0 calc(10px + (10px * var(--shrink)));
  transition: width 0.2s linear, padding 0.2s linear, border 0.2s linear;
}

.logo {
  width: calc(50px - (10px * var(--shrink)));
  transition: width 0.2s linear;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo > .logo {
  width: 50px;
}

.nav__title {
  font-size: calc(24px - (4px * var(--shrink)));
  transition: font-size 0.2s linear;
}

.nav__list {
  display: flex;
}

.nav__list .nav__item {
  margin-left: 12px;
  font-size: 14px;
}

.nav__menu .nav__item:last-child {
  margin-right: 12px;
}
