.nav-wrap {
  padding: 0 20px;
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 9;
}

.nav {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 18px;
  padding: 0 10px;
  margin: 0 auto;
  transition: width 2s ease, background-color 0.5s ease;
}
.nav.shrink {
  background-color: #fefefe;
  width: 80%;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo > .logo {
  width: 50px;
}

.nav__title {
  font-size: 24px;
}
.nav__list {
  display: flex;
}

.nav__list .nav__item {
  margin-left: 12px;
  font-size: 14px;
}

.nav__menu .nav__item:last-child {
  margin-right: 12px;
}
